.jumbotron {
	background-color: black;
		color: white;
}

body {
	background-color: whitesmoke;
	color: white;
}
.panel-body {
	color: black
}

.panel-heading {
	background-color: blue;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #ddd;
    color: black;

}
